<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tool Library: Sign In</title>
	<!--*************************************************
 		* course:	CIS 171 Java II
 		* date:		12/10/2020
 		* project:	ToolLibrary - group project
 		* file:		index.html
 		* edits:	
 			 Chadwick Burgett - pdf files added source material- https://gdmhabitat.org/restore/tool/ and http://www.thetoollibrary.org/
			 Eli - moved FAQ and app to footer
			 Eli - header img now link to view all tools
 		************************************************-->
 	

 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css" type ="text/css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="banner"><a href="/viewAllTools"><img src="/banner3.jpg" alt="Tool Library Logo" style="width: 90vw"></a></div>
	<p style="font-size: 12px">click banner to view tool library</p>
	<!-- Login form updated 11/29/2020 by Ben Miner -->
	<form action="/login" method="post">
		<label>User Name</label><input type="text" name="username">
		<label>Password</label><input type="password" name="password">
		<button type="submit">submit</button>
	</form>
	<p><em>Not a member yet? </em><a href="/signUp">Sign Up</a>!</p>




<footer class="page-footer font-small pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col">
        <h5 class="text-uppercase">The Tool Library,</h5>
        <p>thanks you for being a member</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col">
        <h5 class="text-uppercase">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            515-234-1234
          </li>
          <li>
            thetoollib@gmail.com
          </li>
          <li>
            <a href="#" class="fa fa-facebook"></a>
          </li>
          <li>
            <a href="#" class="fa fa-twitter"></a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5 class="text-uppercase">Download Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="../FAQ.pdf" type="application/pdf">FAQ</a>
          </li>
          <li>  	
			<a href="../application.pdf" type="application/pdf">Membership Application</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    The Tool Library
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>