<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<!--*************************************************
 		* author: 	
 		* course:	CIS 171 Java II
 		* date:	
 		* project:	ToolLibrary - group project
 		* file:		viewMyTools.html
 		* summary:	
 		************************************************-->
 		
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../style.css" type ="text/css" >
</head>
<body>
<!--Brogan - added the form and features for this page  -->


<h4 class="logged_in_as_display_area">Logged in as: <span th:text="${memberInfo.username}"></span> </h4>
<h6 class="logged_in_as_display_area">Hello, <span th:text="${memberInfo.first}"></span></h6>
 
<h1>My tool Borrowing History</h1>
<form>
		<table class="table">
		<thead>
			<tr>
		      <th scope="col">#</th>
		      <th scope="col">Tool</th>
		      <th scope="col">Serial No. on Tool</th>
		      <th scope="col">Rental Start Date</th>
		      <th scope="col">Tool Return Date</th>
		    </tr>
		</thead>
  		<tbody>

			<tr th:each="currentRental : ${rental}" >
			<td th:text="${currentRental.rentalId}" />
			<td th:text="${currentRental.toolId.name}" /> 
			<td th:text="${currentRental.toolId.serial}" /> 
			<td th:text="${#dates.format(currentRental.checkedOut, 'MMM dd,yyyy')} "/> <!-- for some reason when a date prints out for checked out and checked, it gets the day before the date entered into the database -->
			<td th:text="${#dates.format(currentRental.checkedIN, 'MMM dd,yyyy')}" /> 
			<!-- Chadwick - added return tool feature -->
			<td><a th:href="@{/return/{id}(id=${currentRental.rentalId})}">Return</a></td>
			</tr>
		</tbody>
		</table>
	</form>
	<a href="/">Go back to Home</a> <br>
	<a href="/viewAllTools">Check out a new tool</a>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>