<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Tool Library</title>
	<!--*************************************************
 		* author: 	
 		* course:	CIS 171 Java II
 		* date:	
 		* project:	ToolLibrary - group project
 		* file:		viewAllTools.html
 		* summary:	
 		************************************************-->
 		
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../style.css" type ="text/css" >
</head>
<body>
	<form>
		<table>
			<tr th:each="currentTool : ${tool}" >
			<td th:text="${currentTool.toolId}" />
			<td th:text="${currentTool.name}" />
			<td th:text="${currentTool.type}" />
	   <!-- added by Eli with assist by Brogan: thymeleaf dropped the is on isAvailable-->
	   		<td>
				<span th:if="${currentTool.Available}">Available</span>
  				<span th:unless="${currentTool.Available}">Checked Out</span>
			</td>
	  		<td><a th:href="@{/borrow/{id}(id=${currentTool.toolId})}">Borrow</a></td>
			</tr>
		</table>
	</form>
	<a href="/">Go back to Home</a>
	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>